.header {
  flex: 1;
  background-color: var(--bg-color-1);
  padding: 10px;
  overflow-y: scroll;
}

.header p {
  font-size: 1rem;
  line-height: 1.875rem;
  color: var(--text-color-1);
  display: flex;
  justify-content: flex-end;
}

.calculation_history {
  white-space: nowrap;
}
.calculation_expression {
  overflow-x: scroll;
  width: 100%;
}

.calculation_expression p {
  white-space: nowrap;
  font-weight: bold;
}

.calculation_result p {
  font-weight: bold;
  font-size: 1.3rem;
}
